---
layout: home-page
DP-link: index
lang: nl
---
{% include calculate_relative_base.html %}

{% assign posts=site.posts | where:"lang", page.lang %}
<ol class="post-card-box clearfix">
  {% for post in posts %}
  {% include remove_double_slash.html %}
    <li style="padding-left: 2.5px; padding-right: 2.5px; padding-bottom: 5px">
      <div class="post-card">
        <a href="{{ post_url }}" title="{{ post.title }}" class="post-card-image" style="background: url('{{ relativebase }}assets/img/{{ post.img }}') center no-repeat; background-size: cover;">
        </a>
        <div class="post-card-body"> 
          <p class="post-card-title-and-meta">
            <a href="{{ post_url }}" class="post-card-link">
              {{ post.title }}
            </a>
            {% include post_meta.html type="post-card-meta" date="none" %}
          </p>
        </div>     
      </div>
    </li>
  {% endfor %}
</ol>

<!-- <style>
  
  .post-card-box{
    display: flex;
    flex-wrap: wrap;
  }
</style> -->



 <!--<div class="post-card">
    <a href="{{ post_url }}" title="{{ post.title }}" class="post-card-image" style="background: url('{{ relativebase }}assets/img/{{ post.img }}') center no-repeat; background-size: cover;">
      <div class="post-card-body">
        <p class="post-card-title-and-meta">
          <a href="{{ post_url }}" class="post-card-link">
            {{ post.title }}
          </a>
          {% include post_meta.html type="post-card-meta" date="none" %}
        </p>
      </div>
    </div>-->